.env
__pycache__/
*.pyc
.venv/

# Kubernetes secrets (do NOT commit real secrets)
k8s_solution/app-secret.yml
k8s_solution/db-secret.yml

# IDE & OS noise
.idea/
.DS_Store
Thumbs.db


# Logs

terraform.tfstate
terraform.lock.hcl
terraform.tfvars
terraform.tfstate.backup
tf.plan

*.log
.terraform/
.terraform.lock.hcl


# Docker
docker-compose.override.yml
docker-compose.dev.yml
/.db_data/
docker-compose.wsl.yml

# Local editor and OS
.vscode/

# DB backups (keep locally, don't commit)
backups/
*.sql
.env.example
